/* Favorite List & Wishlists CSS Style */

.fav_header {
	clear:both;
	text-align: center;
	color:#C00; 
	font-size:20px;
	font-weight: bold;
    line-height: 40px;
	margin-bottom: 10px;
}

.table_header {
	text-align:left;
	color:#333;
	font-weight:bold;
}

.fav_title {
	text-align: center;
	font-size: 28px;
	margin-bottom: 10px;
}

.fav_container {
	min-height: 140px;
	margin-bottom:10px;
}

.left-col {
	float:left;
	width:40%;
}

.col_date {
	font-size:15px;
	font-weight:bold;
	width:20%;
	text-align:center;
}

.col_info {
	text-align:center;
	line-height:5px;
}

.col_favorite {
	width: 30%;
	min-height: 40px;
}

.col_image {
	float:left;
	width:20%;
	float:left;
	text-align:center;
	margin-bottom:10px;
}

.prod_image {
	border: 0px solid;
	padding:5px 0px 0px 5px;
}

.prod_date {
	font-size: 14px;
}

.prod_name {
	font-weight:bold;
	min-width: 230px;
}

.prod_price {
	color: #EA3C3C;
    font-size: 18px;
}

.col_controls {
	position:relative;
	left: 25%;
	top: -20px;
	width: 80%;
}

.prod_qty {
	float:left;
	margin-right:5px;
}

.fav_addtocart-area{
text-align:left;
border-top: none !important;
margin-left:10px !important;
}

.fav_addtocart-area .product-fields {
    border-top: none !important;
	border-bottom: none !important;
	margin-left:10px !important;
	line-height: 30px !important;
}

.fav_addtocart-area .product-fields select {
    font-size: 12px !important;
    margin-left: 5px !important;
    width: 180px !important;
}

.fav_addtocart-bar
{
	margin-top: 8px !important;
}

.wish_alert {
color:#FF0000;
font-size:20px;
font-weight:bold;
text-align:center;
line-height: 25px;
}

.highlighted_txt {
font-weight:bold; 
background-color:yellow;
}

/* DIV Based Table */
.fav_table{
    display:table;
    width:99.9%;
    border-collapse: collapse;
    }
	
.fav_heading{
     background-color: #EEEEEE;
    display: table-row;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 27px;
    text-align: center;
    
}

.fav_row{  
     display:table-row;
     text-align: center;
}

.fav_col{
    border: 1px solid #CCC;
    display: table-cell;
    line-height: 22px;
    padding: 4px;
    vertical-align: middle;
}

/* CSS Font Awesome Style for favorite button */
.addtofav_aws_icon {
	font-size:24px !important;
	color: #AAA !important;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;background: #none !important;
}
.addtofav_aws_icon:hover {
	color: #db0909 !important;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;background: #none !important;
}
.addtofav_aws_icon_active {
	font-size:24px !important;
	color: #db0909 !important;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.addtofav_aws_icon_active:hover {
	color: #db0909 !important;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

/* CSS Image Style for Favorite Button */
.addtofav_heart_icon {
	background: url(images/heart_add_to_fav_button.png) 0 0 no-repeat !important; 
	background-color: rgba(127, 127, 127, 0) !important;
	box-shadow: 0px 0px 0px rgba(127, 127, 127, 0) !important;
	border: 2px solid #DDD !important;
    border-radius: 16px !important;
	width:34px !important; 
	height:34px !important;
	margin: 2px !important;
}
.addtofav_heart_icon:hover {
	background-position:center bottom !important;
}
.addtofav_heart_icon_active {
	background: url(images/heart_add_to_fav_button.png) 0 0 no-repeat !important;
	background-position:center bottom !important;
	background-color: rgba(127, 127, 127, 0) !important;
	box-shadow: 0px 0px 0px rgba(127, 127, 127, 0) !important;
	border: 2px solid #DDD !important;
    border-radius: 16px !important;
	width:30px !important; 
	height:30px !important;
	margin: 2px !important;
}
.addtofav_star_icon {
	background: url(images/star_add_to_fav_button.png) 0 0 no-repeat !important; 
	background-color: rgba(127, 127, 127, 0) !important;
	box-shadow: 0px 0px 0px rgba(127, 127, 127, 0) !important;
	border: 2px solid #DDD !important;
    border-radius: 16px !important;
	width:34px !important; 
	height:34px !important;
	margin: 2px !important;
}
.addtofav_star_icon:hover {
	background-position:center bottom !important;
}
.addtofav_star_icon_active {
	background: url(images/star_add_to_fav_button.png) 0 0 no-repeat !important;
	background-position:center bottom !important;
	background-color: rgba(127, 127, 127, 0) !important;
	box-shadow: 0px 0px 0px rgba(127, 127, 127, 0) !important;
	border: 2px solid #DDD !important;
    border-radius: 16px !important;
	width:30px !important; 
	height:30px !important;
	margin: 2px !important;
}
.addtofav_star_icon {background: url(images/addfav_button.png) 0 0 no-repeat; width:132px; height:23px; color:#000; font-size:9px; margin-top:5px; padding:0; text-align:center; border:none; float:left;}
.deletefav_button {background: url(images/delfav_button.png) 0 0 no-repeat; width:132px; height:23px; color:#000; font-size:9px; margin-top:5px; padding:0; text-align:center;  border:none;}
